In [3]:
import pandas as pd

df = pd.read_parquet('raw_top5.parquet')
df

      q_id                        web_list
0        1    [108, 372, 1721, 1880, 1705]
1        2   [368, 1570, 1798, 1781, 1802]
2        3   [116, 1758, 1704, 1705, 1820]
3        4   [1758, 1761, 1760, 1762, 618]
4        5  [1909, 1520, 1535, 1041, 1025]
...    ...                             ...
6972  6973    [1052, 618, 616, 1017, 1125]
6973  6974         [28, 804, 27, 1699, 29]
6974  6975       [116, 29, 411, 1275, 402]
6975  6976     [1160, 678, 688, 859, 1758]
6976  6977        [1636, 28, 804, 116, 29]

[6977 rows x 2 columns]